body{
    overflow-y: overlay;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 5px;
  }
  
  body::-webkit-scrollbar-track{
    background-color: #ccc;
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgb(245, 93, 93);
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 81, 81);
  }